@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: hsl(222, 26%, 31%);
  font-family: "Spartan", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-items: center;
  margin-top: 150px;
  width: 550px;
}

.navbar .logo {
  color: white;
}

.theme-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 35%;
}

.theme-bar .theme {
  color: white;
}

.n-theme {
  /* border: 1px solid white; */
}
.theme-bar .n-theme .choice {
  display: flex;
  align-items: center;
  color: white;
}

.theme-bar .n-theme .choice p {
  padding-right: 12px;
  padding-left: 12px;
}

.box {
  height: 25px;
  width: 100px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.box .circle {
  margin: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
}

.screen {
  width: 550px;
  height: 130px;
  margin-top: 20px;
}

#screen {
  width: 100%;
  height: 130px;
  margin: 10px 0;
  text-align: right;
  font-size: 32px;
  background-color: hsl(224, 36%, 15%);
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 7px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 550px;
  height: 500px;
  border-radius: 7px;
  background-color: hsl(223, 31%, 20%);
}

.btn .grid-btn {
  background-color: hsl(223, 31%, 20%);
  width: 96%;
  height: 96%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: center;
  align-items: center;
  grid: gap 12px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(223, 31%, 20%);
}

.grid-item1 {
  width: 220px;
  height: 60px;
  grid-column: 3;
  grid-row: 5;
  background: rgb(145, 33, 33);
}

.grid-item2 {
  width: 220px;
  height: 60px;
  grid-column: 1;
  grid-row: 5;
  background: rgb(145, 33, 33);
}

.grid-item button {
  width: 100px;
  height: 60px;
  background-color: hsl(30, 25%, 89%);
  text-align: center;
  font-size: 25px;
  font-style: bold;
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
  text-decoration: solid;
  color: hsl(221, 14%, 31%);
  cursor: pointer;
  border: 0;
}

.grid-item1 button {
  width: 220px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px hsl(6, 70%, 34%);
  text-decoration: solid;
  color: white;
  cursor: pointer;
  border: 0;
  background-color: hsl(6, 63%, 50%);
}

.grid-item2 button {
  width: 220px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
  text-decoration: solid;
  cursor: pointer;
  color: hsl(221, 14%, 31%);
  border: 0;
  background-color: hsl(30, 25%, 89%);
}
